.App {
  text-align: center;
}


nav a{
    text-decoration: none;
    display: inline-block;
    margin-left: 2px;
    padding: 10px 20px;
    background-color: lavender;
    border-bottom: 5px solid blue;

}
nav li {
    list-style-type: none;
    display: inline;
}
.active{
   background-color: pink;
}

